<%= form_for(@program_manifest) do |f| %>
  <% if @program_manifest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program_manifest.errors.count, "error") %> prohibited this program_manifest from being saved:</h2>

      <ul>
      <% @program_manifest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :step_id %><br />
    <%= f.number_field :step_id %>
  </div>
  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.number_field :program_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
