<h1>Listing program_manifests</h1>

<table>
  <tr>
    <th>Step</th>
    <th>Program</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @program_manifests.each do |program_manifest| %>
  <tr>
    <td><%= program_manifest.step_id %></td>
    <td><%= program_manifest.program_id %></td>
    <td><%= link_to 'Show', program_manifest %></td>
    <td><%= link_to 'Edit', edit_program_manifest_path(program_manifest) %></td>
    <td><%= link_to 'Destroy', program_manifest, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program manifest', new_program_manifest_path %>
