<% @countries = [['Aland Islands','Aland Islands'],['Albania','Albania'],['Algeria','Algeria'],['American Samoa','American Samoa'],['Andorra','Andorra'],['Angola','Angola'],['Anguilla','Anguilla'],['Antarctica','Antarctica'],['Antigua & Barbuda','Antigua & Barbuda'],['Argentina','Argentina'],['Armenia','Armenia'],['Aruba','Aruba'],['Australia','Australia'],['Austria','Austria'],['Azerbaijan','Azerbaijan'],['Bahamas','Bahamas'],['Bahrain','Bahrain'],['Bangladesh','Bangladesh'],['Barbados','Barbados'],['Belarus','Belarus'],['Belgium','Belgium'],['Belize','Belize'],['Benin','Benin'],['Bermuda','Bermuda'],['Bhutan','Bhutan'],['Bolivia','Bolivia'],['Bosnia Herzegovina','Bosnia Herzegovina'],['Botswana','Botswana'],['Bouvet Island','Bouvet Island'],['Brazil','Brazil'],['British Indian Ocean Territory','British Indian Ocean Territory'],['Brunei','Brunei'],['Bulgaria','Bulgaria'],['Burkina Faso','Burkina Faso'],['Burundi','Burundi'],['Cambodia','Cambodia'],['Cameroon','Cameroon'],['Canada','Canada'],['Cape Verde Islands','Cape Verde Islands'],['Cayman Islands','Cayman Islands'],['Central African Republic','Central African Republic'],['Chad','Chad'],['Chile','Chile'],['China','China'],['Christmas Island','Christmas Island'],['Cocos (Keeling) Islands','Cocos (Keeling) Islands'],['Colombia','Colombia'],['Comoros','Comoros'],['Congo','Congo'],['Congo, Democratic Republic of','Congo, Democratic Republic of'],['Cook Islands','Cook Islands'],['Costa Rica','Costa Rica'],['Cote DIvoire','Cote DIvoire'],['Croatia','Croatia'],['Cuba','Cuba'],['Cyprus','Cyprus'],['Czech Republic','Czech Republic'],['Denmark','Denmark'],['Djibouti','Djibouti'],['Dominica','Dominica'],['Dominican Republic','Dominican Republic'],['Ecuador','Ecuador'],['Egypt','Egypt'],['El Salvador','El Salvador'],['Equatorial Guinea','Equatorial Guinea'],['Eritrea','Eritrea'],['Estonia','Estonia'],['Ethiopia','Ethiopia'],['Falkland (Malvinas)','Falkland (Malvinas)'],['Faroe Islands','Faroe Islands'],['Fiji','Fiji'],['Finland','Finland'],['France','France'],['French Guiana','French Guiana'],['French Polynesia','French Polynesia'],['French Southern Territories','French Southern Territories'],['Gabon','Gabon'],['Gambia','Gambia'],['Georgia','Georgia'],['Germany','Germany'],['Ghana','Ghana'],['Gibraltar','Gibraltar'],['Greece','Greece'],['Greenland','Greenland'],['Grenada','Grenada'],['Guadeloupe','Guadeloupe'],['Guam','Guam'],['Guatemala','Guatemala'],['Guinea','Guinea'],['Guinea-Bissau','Guinea-Bissau'],['Guyana','Guyana'],['Haiti','Haiti'],['Heard & Mc Donald','Heard & Mc Donald'],['Honduras','Honduras'],['Hong Kong','Hong Kong'],['Hungary','Hungary'],['Iceland','Iceland'],['India','India'],['Indonesia','Indonesia'],['Iran','Iran'],['Iraq','Iraq'],['Ireland','Ireland'],['Israel','Israel'],['Italy','Italy'],['Jamaica','Jamaica'],['Japan','Japan'],['Jordan','Jordan'],['Kazakhstan','Kazakhstan'],['Kenya','Kenya'],['Kiribati','Kiribati'],['Kuwait','Kuwait'],['Kyrgyzstan','Kyrgyzstan'],['Lao Peoples Democratic Republic','Lao Peoples Democratic Republic'],['Latvia','Latvia'],['Lebanon','Lebanon'],['Lesotho','Lesotho'],['Liberia','Liberia'],['Libyan Arab Jamahiriya ','Libyan Arab Jamahiriya '],['Liechtenstein','Liechtenstein'],['Lithuania','Lithuania'],['Luxembourg','Luxembourg'],['Macao','Macao'],['Macedonia','Macedonia'],['Madagascar','Madagascar'],['Malawi','Malawi'],['Malaysia','Malaysia'],['Maldives','Maldives'],['Mali','Mali'],['Malta','Malta'],['Marshall Islands','Marshall Islands'],['Martinique','Martinique'],['Mauritania','Mauritania'],['Mauritius','Mauritius'],['Mayotte','Mayotte'],['Mexico','Mexico'],['Micronesia','Micronesia'],['Moldova','Moldova'],['Monaco','Monaco'],['Mongolia','Mongolia'],['Montenegro','Montenegro'],['Montserrat','Montserrat'],['Morocco','Morocco'],['Mozambique','Mozambique'],['Myanmar','Myanmar'],['Namibia','Namibia'],['Nauru','Nauru'],['Nepal','Nepal'],['Netherlands','Netherlands'],['Netherlands Antilles','Netherlands Antilles'],['New Caledonia','New Caledonia'],['New Zealand','New Zealand'],['Nicaragua','Nicaragua'],['Niger','Niger'],['Nigeria','Nigeria'],['Niue','Niue'],['Norfolk Island','Norfolk Island'],['North Korea','North Korea'],['Northern Mariana Islands','Northern Mariana Islands'],['Norway','Norway'],['Oman','Oman'],['Pakistan','Pakistan'],['Palau','Palau'],['Palestinian Territory','Palestinian Territory'],['Panama','Panama'],['Papua New Guinea','Papua New Guinea'],['Paraguay','Paraguay'],['Peru','Peru'],['Philippines','Philippines'],['Pitcairn','Pitcairn'],['Poland','Poland'],['Portugal','Portugal'],['Puerto Rico','Puerto Rico'],['Qatar','Qatar'],['Reunion Island','Reunion Island'],['Romania','Romania'],['Russian Federation','Russian Federation'],['Rwanda','Rwanda'],['Samoa','Samoa'],['San Marino','San Marino'],['Sao Tome & Principe','Sao Tome & Principe'],['Saudi Arabia','Saudi Arabia'],['Senegal','Senegal'],['Serbia','Serbia'],['Seychelles','Seychelles'],['Sierra Leone','Sierra Leone'],['Singapore','Singapore'],['Slovakia','Slovakia'],['Slovenia','Slovenia'],['Solomon Islands','Solomon Islands'],['Somalia','Somalia'],['South Africa','South Africa'],['South Georgia & South Sandwich Islands','South Georgia & South Sandwich Islands'],['South Korea','South Korea'],['Spain','Spain'],['Sri Lanka','Sri Lanka'],['St. Helena','St. Helena'],['St. Kitts & Nevis','St. Kitts & Nevis'],['St. Lucia','St. Lucia'],['St. Pierre & Miquelon','St. Pierre & Miquelon'],['St. Vincent & The Grenadines','St. Vincent & The Grenadines'],['Sudan','Sudan'],['Suriname','Suriname'],['Svalbard & Jan Mayen Islands','Svalbard & Jan Mayen Islands'],['Swaziland','Swaziland'],['Sweden','Sweden'],['Switzerland','Switzerland'],['Syrian Arab Republic','Syrian Arab Republic'],['Taiwan','Taiwan'],['Tajikistan','Tajikistan'],['Tanzania','Tanzania'],['Thailand','Thailand'],['Timor-Leste','Timor-Leste'],['Togo','Togo'],['Tokelau','Tokelau'],['Tonga','Tonga'],['Trinidad & Tobago','Trinidad & Tobago'],['Tunisia','Tunisia'],['Turkey','Turkey'],['Turkmenistan','Turkmenistan'],['Turks & Caicos Islands','Turks & Caicos Islands'],['Tuvalu','Tuvalu'],['Uganda','Uganda'],['Ukraine','Ukraine'],['United Arab Emirates','United Arab Emirates'],['United Kingdom','United Kingdom'],['United States','United States'],['Uruguay','Uruguay'],['US Outlying Islands','US Outlying Islands'],['Uzbekistan','Uzbekistan'],['Vanuatu','Vanuatu'],['Vatican City','Vatican City'],['Venezuela','Venezuela'],['Viet Nam','Viet Nam'],['Virgin Islands (British)','Virgin Islands (British)'],['Virgin Islands (U.S.)','Virgin Islands (U.S.)'],['Wallis & Futuna Islands','Wallis & Futuna Islands'],['Western Sahara','Western Sahara'],['Yemen','Yemen'],['Zambia','Zambia'],['Zimbabwe','Zimbabwe']]
@states = [['Alabama','Alabama'],['Alaska','Alaska'],['APO AA (Armed Forces Americas)','APO AA (Armed Forces Americas)'],['APO AE (Armed Forces Europe)','APO AE (Armed Forces Europe)'],['APO AP (Armed Forces Pacific)','APO AP (Armed Forces Pacific)'],['Arizona','Arizona'],['Arkansas','Arkansas'],['California','California'],['Colorado','Colorado'],['Connecticut','Connecticut'],['Delaware','Delaware'],['District of Columbia','District of Columbia'],['Florida','Florida'],['Georgia','Georgia'],['Hawaii','Hawaii'],['Idaho','Idaho'],['Illinois','Illinois'],['Indiana','Indiana'],['Iowa','Iowa'],['Kansas','Kansas'],['Kentucky','Kentucky'],['Louisiana','Louisiana'],['Maine','Maine'],['Maryland','Maryland'],['Massachusetts','Massachusetts'],['Michigan','Michigan'],['Minnesota','Minnesota'],['Mississippi','Mississippi'],['Missouri','Missouri'],['Montana','Montana'],['Nebraska','Nebraska'],['Nevada','Nevada'],['New Hampshire','New Hampshire'],['New Jersey','New Jersey'],['New Mexico','New Mexico'],['New York','New York'],['North Carolina','North Carolina'],['North Dakota','North Dakota'],['Ohio','Ohio'],['Oklahoma','Oklahoma'],['Oregon','Oregon'],['Pennsylvania','Pennsylvania'],['Rhode Island','Rhode Island'],['South Carolina','South Carolina'],['South Dakota','South Dakota'],['Tennessee','Tennessee'],['Texas','Texas'],['Utah','Utah'],['Vermont','Vermont'],['Virginia','Virginia'],['Washington','Washington'],['West Virginia','West Virginia'],['Wisconsin','Wisconsin'],['Wyoming','Wyoming']]
@months = [['01','01'],['02','02'],['03','03'],['04','04'],['05','05'],['06','06'],['07','07'],['08','08'],['09','09'],['10','10'],['11','11'],['12','12']]
@years = []
i = 0
10.times do
	@years << ["#{Time.now.year + i}", "#{Time.now.year + i}"]
end
%>

<div class="container-fluid pricing-container content-holder" id="_pricing">
	<div class="row-fluid">
		<div class="span12">
			<h1>Register</h1>
			<p>You are about to register to the course: <b><%= @program_description %></b></p><br/>
			
			<div id="user_errors"></div>

			<div class="row">
				<div class="span6" style="padding-left:20px;">
					
					<%= form_for @user, :html => { :class => "form-horizontal", :id => "user-form"} do |f| %>
					<% if @program == '4' %>
					<div>
						<div class="span12" style="margin-left: 2.5641%;"><b>Bootcamp Date (Required):</b></div>
						<div class="span8">
							<%= label_tag 'bootcamp_date', 'Bootcamp Date', :class => 'control-label span12' %>
							<%= select_tag 'bootcamp_date', options_from_collection_for_select(@bootcamps, "bootcamp_date", "date_formatted"), :class => "span12" %>
						</div>
						<div class="span8">
							<%= label_tag 'promo_code', 'Promo Code', :class => 'control-label' %>
							<%= text_field_tag 'promo_code', nil, :class => "span9" %>
							<a class="btn" onClick="validate_code();" id="apply_code">apply</a>
							<span style="margin-left:0px; margin-top:5px; color:#C00;" id="promo-code-error"></span>
						</div>
					</div>
					<% end %>
					<div class="span12" style="margin-top:40px;"><b>Student Information (Required):</b></div>
					<style>
						label{text-align:left !important;}
						#apply_code{float:right;}
					</style>
					<div class="span4">
						<%= f.label :first_name, :class => "control-label" %>
						<%= f.text_field :first_name, :class => "span12" %>
						<input type="hidden" name="program" id="program" value="<%= @program %>">
					</div>
					<div class="span4">
						<%= f.label :last_name, :class => "control-label" %>
						<%= f.text_field :last_name, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :date_of_birth, :class => "control-label span12" %>
						<%= date_select('user', :date_of_birth,{}, {:class => "span4"}) %>
					</div>
					<div class="span4">
						<%= f.label :current_school, :class => "control-label" %>
						<%= f.text_field :current_school, :class => "span12" %>
					</div>
					<div class="span4">
						<%= f.label :current_grade, 'Graduation Year', :class => "control-label" %>
						<%= f.text_field :current_grade, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :email,'Email (will be used to log in to Fat Envelope site)', :class => "control-label span12" %>
						<%= f.text_field :email, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :password, 'Choose a password', :class => "control-label" %>
						<%= f.password_field :password, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :password_confirmation, 'Confirm password', :class => "control-label" %>
						<%= f.password_field :password_confirmation, :class => "span12" %>
					</div>
					<div class="span4">
						<%= f.label :address, :class => "control-label" %>
						<%= f.text_field :address, :class => "span12" %>
					</div>
					<div class="span4">
						<%= f.label :city, :class => "control-label" %>
						<%= f.text_field :city, :class => "span12" %>
					</div>
					<div class="span4">
						<%= f.label :state, :class => "control-label" %>
						<%= f.select :state, options_for_select(@states, @user.state),{:prompt => 'Select state...'}, {:class => "span12"} %>
					</div>
					<div class="span4">
						<%= f.label :zip_code, :class => "control-label" %>
						<%= f.text_field :zip_code, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :country, :class => "control-label" %>
						<% @user.country = @user.country || 'United States' %>
						<%= f.select :country, options_for_select(@countries, @user.country),{}, {:class => "span12"} %>
					</div>
					<div class="span8">
						<%= f.label :telephone, 'Home phone', :class => "control-label" %>
						<%= f.text_field :telephone, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :telephone, 'Mobile phone', :class => "control-label" %>
						<%= f.text_field :telephone, :class => "span12" %>
					</div>
					<div class="span8" style="margin-top:20px;">
							<label class="checkbox">
								<%= f.check_box :terms_of_service %> I accept the <%= link_to "terms of service", { :controller => "pages", :action => "terms"} %>
							</label>
					</div>
				</div>
				
				<div class="span6">
					<div class="span12" style="margin-left: 2.5641%;"><b>Parent or Cardholder Information (Required):</b><br/><br/></div>
					<div class="span4">
						<%= f.label :parent_first_name, "First name", :class => "control-label" %>
						<%= f.text_field :parent_first_name, :class => "span12" %>
					</div>
					<div class="span4">
						<%= f.label :parent_last_name, "Last name", :class => "control-label" %>
						<%= f.text_field :parent_last_name, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :parent_cell_phone, "Home phone", :class => "control-label" %>
						<%= f.text_field :parent_cell_phone, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :parent_cell_phone, "Mobile phone", :class => "control-label" %>
						<%= f.text_field :parent_cell_phone, :class => "span12" %>
					</div>
					<div class="span8">
						<%= f.label :parent_email, "Email (Payment receipt will be emailed to this address)", :class => "control-label" %>
						<%= f.text_field :parent_email, :class => "span12" %>
					</div>
					<div class="span8">
							<label class="checkbox">
								<%= f.check_box :parent_email_notifications %> Click to receive email notifications
							</label>
					</div>
					<div class="span8">
							<label class="checkbox">
								<%= f.check_box :parent_text_notifications %> Click to receive text notifications
							</label>
					</div>
					<% end %><!-- End of the user registration form -->
					<div class="span12">
						<br/><br/><b>Payment Information (Required):</b><br/><br/>
						<form action="" method="POST" id="payment-form">
							<div class="span8">
								<label class="control-label">Card Number</label>
								<input type="text" maxlength="20" data-stripe="number" class="span12" />
							</div>
							<div class="span4" style="clear:left; margin-left:0px;">
								<label class="control-label">CVC</label>
								<input type="text" maxlength="4" data-stripe="cvc" class="span12" />
							</div>			
							<div class="span4">
								<label class="control-label">Expiration (MM/YYYY)</label>
								<%= select_tag('stripe-month', options_for_select(@months), :prompt => 'Month...', 'data-stripe' => 'exp-month', :class => 'span6') %>
								<%= select_tag('stripe-years', options_for_select(@years), :prompt => 'Year...', 'data-stripe' => 'exp-year', :class => 'span6') %>
								<% if false %>
								<input type="text" maxlength="2" data-stripe="exp-month" class="span6" placeholder="MM" />
								<input type="text" maxlength="4" data-stripe="exp-year" class = "span6" placeholder="YYYY" />
								<% end %>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="stripe_error">
				<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
			</div>
			<div>
				<label>Total Price</label>
				<h4 class="price" id="price"><%= number_to_currency(@program_price) %></h4>
			</div>
			<div class="actions"><a id="register-user" class="btn" onClick="validate_user();">Register</a></div>
		</div>
	</div>
</div>
<script>
function validate_user(){
	$("#user_errors").html('');
	$('#register-user').addClass('disabled');
	jQuery.ajax({
		"url":"/registration/validate_user",
		"dataType":"json",
		"data": $("#user-form").serialize(),
		"type":"post",
		"success":function(data){
			if(data.status == "success"){
				submit_payment();
			}else{
				$("#user_errors").html(data.html);
				$('#register-user').removeClass('disabled');
				return false;
			}
		},
		"cache":false
	});
	return false;
}

function validate_code(){
	$("#apply_code").attr('disabled', 'disabled');
	jQuery.ajax({
		"url":"/registration/validate_code",
		"dataType":"json",
		"data": {promo_code: $("#promo_code").val(), program: $('#program').val()},
		"type":"post",
		"success":function(data){
			if(data.status == "success"){
				$("#promo-code-error").html('');
				$("#promo_code").attr('readonly', 'readonly');
				$("#price").html(data.price);
				$("#apply_code").removeAttr('onClick');
				$("#apply_code").addClass('btn-success');
				$("#apply_code").html('Code Applied!');
			}else{
				$("#apply_code").removeAttr('disabled', 'disabled');
				$("#promo-code-error").html(data.message);
				return false;
			}
		},
		"cache":false
	});
	return false;
}

function finalize_registration(){
	jQuery.ajax({
		"url":"/registration/charge_and_create_user",
		"dataType":"json",
		"data": $("#user-form").serialize(),
		"type":"post",
		"success":function(data){
			if(data.status == "success"){
				$("#user_errors").html('<div class="alert alert-success span10">User registered successfully</div>');
				window.location = "/registration/successful";
			}else{
				$("#user_errors").html(data.html);
				$('#register-user').removeClass('disabled');
				return false;
			}
		},
		"cache":false
	});
	return false;
}

function submit_payment(){
		var $form = $('#payment-form');
	    Stripe.createToken($form, stripeResponseHandler);
		return false;
}

var stripeResponseHandler = function(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
    // Show the errors on the form
	$("#user_errors").html('<div class="alert alert-error span10">'+response.error.message+'</div>');
    $('#register-user').removeClass('disabled');
  } else {
    // token contains id, last4, and card type
    var token = response.id;
    // Insert the token into the form so it gets submitted to the server
    $('#user-form').append($('<input type="hidden" name="stripeToken" />').val(token));
    // and submit
    finalize_registration();
  }
};

</script>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  // This identifies your website in the createToken call below
  Stripe.setPublishableKey('<%= ENV["stripe_publishable_key"] %>');
</script>