<%= form_for @user, :html => { :class => "form-horizontal", :id => "user-form"} do |f| %>

  <% if @user.errors.any? %>
	<div class="alert alert-error">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
  <% end %>

  	<br/><br/><b>User Information:</b><br/><br/>
	<div class="control-group">
		<%= f.label :first_name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :first_name, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :last_name, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :last_name, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :role, "User Role", :class => "control-label" %>
		<div class="controls">
			<% if @user.new_record? %>
				<%= f.select(:role, options_for_select([["Student","student"],["Admin","admin"],["Teacher","teacher"]], @user.role)) %>
			<% else %>
				<%= f.text_field :role, :class => "span4", :readonly => 'readonly', :value => @user.get_roles %>
			<% end%>
		</div>
	</div>
	<div class="required_if_student" <% if (@user.new_record? == false and @user.get_roles != 'student') or (@user.new_record? and (@user.role == 'teacher' or @user.role == 'admin')) %> style="display:none;" <% end %>>
		<div class="control-group">
			<%= f.label :date_of_birth, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :date_of_birth, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :current_school, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :current_school, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :current_grade, :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :current_grade, :class => "span4" %>
			</div>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :email, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :email, :class => "span4" %>
		</div>
	</div>
	<% if @user.new_record? %>
		<div class="control-group">
			<%= f.label :password, :class => "control-label" %>
			<div class="controls">
				<%= f.password_field :password, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :password_confirmation, :class => "control-label" %>
			<div class="controls">
				<%= f.password_field :password_confirmation, :class => "span4" %>
			</div>
		</div>
	<% end %>
	
	<div class="control-group">
		<%= f.label :address, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :address, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :city, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :city, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :state, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :state, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :zip_code, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :zip_code, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :country, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :country, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :country_code, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :country_code, :class => "span4" %>
		</div>
	</div>
	<div class="control-group">
		<%= f.label :telephone, :class => "control-label" %>
		<div class="controls">
			<%= f.text_field :telephone, :class => "span4" %>
		</div>
	</div>
	
	
	<div class="required_if_student" <% if (@user.new_record? == false and @user.get_roles != 'student') or (@user.new_record? and (@user.role == 'teacher' or @user.role == 'admin')) %> style="display:none;" <% end %>>
		<br/><br/><b>Parent Information (If Student):</b><br/><br/>
		<div class="control-group">
			<%= f.label :parent_first_name, "First name", :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :parent_first_name, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :parent_last_name, "Last name", :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :parent_last_name, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :parent_cell_phone, "Cellphone", :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :parent_cell_phone, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<%= f.label :parent_email, "Email", :class => "control-label" %>
			<div class="controls">
				<%= f.text_field :parent_email, :class => "span4" %>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<%= f.check_box :parent_email_notifications %> Click to receive email notifications
				</label>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<%= f.check_box :parent_text_notifications %> Click to receive text notifications
				</label>
			</div>
		</div>
	</div>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
  </div>
<% end %>
<script>
$(document).ready(function(){
	$('#user_role').on('change', function(){
		if($('#user_role option:selected').val() == 'admin' || $('#user_role option:selected').val() == 'teacher'){
			$('.required_if_student').slideUp();
		}else{
			$('.required_if_student').slideDown();
		}
	});
});
</script>