<div class="row">
<div class="signup">
<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email, "Enter your email address and we'll send you and email with instructions for resetting your password." %>
  <%= f.email_field :email %></div>

  <div><%= f.submit "Reset password",:class => "btn btn-primary" %></div>
<% end %>

<%# render :partial => "devise/shared/links" %>
</div>
</div>