<div class="home" id="home">   
  <% if !session[:current_school].nil?%>
    <%= link_to "Fat Envelope", url_for(:controller => :program_overview, :action => :index, :id => session[:current_school]), :class => 'brand' %>
  <% else %>
    <%= link_to "Fat Envelope", root_path, :class => 'brand' %>
  <% end %>
  <ul class="nav tan">
    <% if !user_signed_in? %>
      <li <% if @page_name == "home" %>class="active" <% end %>>
        <%= link_to "Home", '/' %>
      </li>
      <li <% if @page_name == "essay-system" %>class="active" <% end %>>
        <%= link_to "Essay System", essaysystem_path %>
      </li>
      <li <% if @page_name == "programs" %>class="active" <% end %>>
        <%= link_to "Programs & Pricing", programcosts_path %>
      </li>
      <li <% if @page_name == "bootcamp" %>class="active" <% end %>>
        <%= link_to "Bootcamp", advisors_path %>
      </li>
      <li <% if @page_name == "faq" %>class="active" <% end %>>
      <%= link_to 'FAQ', faq_path %>
      </li>
      <li <% if @page_name == "about" %>class="active" <% end %>>
        <%= link_to "About Us", about_path %>
      </li>                            
      <li class="login-link <% if @page_name == "login" %>active<% end %>">
      <%= link_to 'Login', new_user_session_path %>        
      </li>    
  
    <% end %>
    <% if user_signed_in? %>
  
    <% end %> 
  </ul>
</div>