<div class="home" id="home">   
  <%= link_to "Fat Envelope", '/marketing/index', :class => 'brand' %>
  <ul class="nav tan">
    
      <li <% if @page_name == "home" %>class="active" <% end %>>
        <%= link_to "Home", '/marketing/index' %>
      </li>
      <li <% if @page_name == "essay-system" %>class="active" <% end %>>
        <%= link_to "Essay System", essaysystem_path %>
      </li>
      <li <% if @page_name == "programs" %>class="active" <% end %>>
        <%= link_to "Programs & Pricing", programcosts_path %>
      </li>
      <li <% if @page_name == "bootcamp" %>class="active" <% end %>>
        <%= link_to "Bootcamp", advisors_path %>
      </li>
      <li <% if @page_name == "faq" %>class="active" <% end %>>
      <%= link_to 'FAQ', faq_path %>
      </li>
      <li <% if @page_name == "about" %>class="active" <% end %>>
        <%= link_to "About Us", about_path %>
      </li>   
      <% if user_signed_in? %>
		  <li <% if @page_name == "about" %>class="active" <% end %>>
	      	<%= link_to "Dashboard", '/users/dashboard' %>      
	      </li>
		  <li>
	      	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	      </li>
	  <% else %>
	      <li class="login-link <% if @page_name == "login" %>active<% end %>">
	      	<%= link_to 'Login', new_user_session_path %>        
	      </li>    
  	  <% end %>
  </ul>
</div>