<div class="home" id="home">   
  <%= link_to "Fat Envelope", '/', :class => 'brand' %>
  <ul class="nav tan">
    
      <li <% if @page_name == "home" %>class="active" <% end %>>
        <%= link_to "Home", '/' %>
      </li>
      <li <% if @page_name == "essay-system" %>class="active" <% end %>>
        <%= link_to "Overview", essaysystem_path %>
      </li>
	  <li <% if @page_name == "private-tutoring" %>class="active" <% end %>>
        <%= link_to "Private Tutoring", '/pages/private-tutoring' %>
      </li>
      <li <% if @page_name == "programs" %>class="active" <% end %>>
        <%= link_to "Programs", programcosts_path %>
      </li>
      <li <% if @page_name == "bootcamp" %>class="active" <% end %>>
        <%= link_to "Bootcamps", advisors_path %>
      </li>
      <li <% if @page_name == "about" %>class="active" <% end %>>
        <%= link_to "About Us", about_path %>
      </li>   
      <% if user_signed_in? %>
		  <li <% if @page_name == "dashboard" %>class="active" <% end %>>
			<% if current_user.has_role? :admin %>
				<%= link_to "Dashboard", '/users' %> 
			<% else %>
	      		<%= link_to "Dashboard", '/users/dashboard' %>      
			<% end %>
	      </li>
		  <li>
	      	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	      </li>
	  <% else %>
	      <li class="login-link <% if @page_name == "login" %>active<% end %>">
	      	<%= link_to 'Login', new_user_session_path %>        
	      </li>    
  	  <% end %>
  </ul>
</div>