<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fat Envelope" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap_and_overrides.css" %>
    <%= stylesheet_link_tag "marketing.css" %>        
    <%= javascript_include_tag "//js.stripe.com/v1/", "application" %>
    
    <%= csrf_meta_tags %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>    
    <%= yield :dynamic_css %>
    <%= yield(:head) %>

  </head>
  <body class="<%if user_signed_in? %>app<%end%>">
    <div id="fb-root"></div>    
    
    <% if controller.controller_name == 'marketing' %>
    <div class="mobile-menu">
      <div class="tile" data-url="<%= root_url %>">
        <%= image_tag 'logo_invert.png' %>
      </div>
      
      <div class="tile essay" data-url="<%=essaysystem_path%>">
        Essay System
      </div>
      
      <div class="tile price" data-url="<%=programcosts_path%>">
        Programs &amp; Pricing
      </div>
      
      <div class="tile bootcamp" data-url="<%=advisors_path%>">
        Bootcamp
      </div>
      
      <div class="tile faq" data-url="<%=faq_path%>">
        FAQ
      </div>
      
      <div class="tile about" data-url="<%=about_path%>">
        About Us
      </div>                                    
    </div>
    
    <header class="navbar">
      <div class="background-images">
        <%= image_tag 'background-red.jpg' %>
        <%= image_tag 'background-blue.jpg' %> 
        <%= image_tag 'background-tan.jpg' %>        
        <%= image_tag 'background-green.jpg' %>                 
      </div>
      
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>    
    <% end %>

    <div id="main" role="main">
      
      
      <% if @current_controller != "marketing" %>
      	<div class="page_container">
      <%end%>       

              <%= render 'layouts/messages' %>
              <%= yield %>
       <% if !current_page?(root_url) %>
       			</div>
          </div>
      <% if @current_controller != "marketing" %>
      	</div>
      <%end%>        
  
          
        </div>

       
       </div> <!--! end of .container --> <%end%>              
    </div> <!--! end of #main -->
  </body>
    
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" %>  
  <%= javascript_include_tag    "application", :media => "all" %>
  <%= javascript_include_tag "marketing.js" %>
  <%= yield :dynamic_js %>
  <!--<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=210069412372115";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>-->
</html>